
<!DOCTYPE html>

<html lang="en">

<head>
    {% load static %}
    {% load currency %}
    <title>Checkout</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="OneTech shop project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static '' %}styles/bootstrap4/bootstrap.min.css">
    <link href="{% static '' %}plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static '' %}styles/cart_styles.css">
    <link rel="stylesheet" type="text/css" href="{% static '' %}styles/cart_responsive.css">
    <link rel="stylesheet" type="text/css" href="{% static '' %}styles/order_form.css">
    <link type="text/css" rel="stylesheet" href="{% static '' %}styles/payment.css" />

    <link type="text/css" rel="stylesheet" href="{% static '' %}styles/slick.css" />
    <link type="text/css" rel="stylesheet" href="{% static '' %}styles/slick-theme.css" />
    <link type="text/css" rel="stylesheet" href="{% static '' %}styles/nouislider.min.css" />
    <link type="text/css" rel="stylesheet" href="{% static '' %}styles/style.css" />
    <script src="https://www.paypal.com/sdk/js?client-id=Ac0JzE2C2gleebo98WHQI7V4QE3O_Fns0HEjnFPe0-_sNljwKvcadlNO90qK-27KIF6K_SXocXehmRrA&currency=USD"></script> 
    <script src="https://js.stripe.com/v3/"></script>
    

</head>

<div class="checkout-info" >
    <div class="row">
        <div class="col-lg-6" style="margin-top: 60px;">
            <div class="box-element" id="form-wrapper">
                <form method="post" id="payment-form" class="payment-form">
                    {% csrf_token %}
                    <div class="form-row">
                        <label for="card-element">
                            Credit or debit card
                        </label>
                        <div id="card-element" class="card-element"> </div>
                        <div id="card-errors" role="alert"></div>
                    </div>
                    
                    <button class="btn btn-info submit-btn" style="width: 97.5%; height: 40px;">Submit Payment</button>
                    <div id="paypal-button-container"></div>
                </form>
            </div>
            <br>
        </div>

        <div class="col-lg-6" style="margin-top: 60px;">
            <div class="box-element">
                <h3>Your cart</h3>
                {% for rs in shopcart %}
                    <div class="cart-row">
                        <div style="flex:1.5"><img style="width: 80px;" class="row-image" src="{{ rs.product.image.url }}"></div>
                        <div style="flex:1.5"><p>{{ rs.product }}</p></div>
                        <div style="flex:1"><p>{{rs.product.price|currency:request.session.currency}} {{ request.session.currency }}</p></div>
                        <div style="flex:1"><p>x{{ rs.quantity }}</p></div>
                        {% comment %} <div style="flex:1"><p>x{{ rs.amount }}</p></div> {% endcomment %}
                    </div>
                {% endfor %}
                <h5>Items:   {{ count }}</h5>
                <h5>Total:   {{ total|currency:request.session.currency }} {{ request.session.currency }}</h5>
            </div>
        </div> 
    </div>
</div>

<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken'); 
    var total = '{{total|currency:request.session.currency }} {{ request.session.currency }}';
    var orderID = '{{ order.id }}';
    var url = "{% url 'payment_complete' %}";
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({
        style: {
            color:  'blue',
            shape:  'rect',
            label:  'pay',
            height: 40,
        },
        // Set up the transaction
        createOrder: function (data, actions) {
            return actions.order.create({
            purchase_units: [
                {
                    amount: {
                        value: parseFloat(total).toFixed(2),
                    },
                },
            ],
            });
        },
        
        // Finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(details) {
                console.log(details)
                sendData()
                function sendData(){
                    fetch(url, {
                        method: 'POST',
                        header: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrftoken,
                        },
                        body: JSON.stringify({ 'orderID': orderID, 'payID': details.id }),
                    })
                }
                // Show a success message to the buyer
                
                alert('Transaction completed by ' + details.payer.name.given_name + '!');
            });
        },
    }).render('#paypal-button-container');

</script>

<script>
    // Create a Stripe client.
    var stripe = Stripe('pk_test_51HyuDiAODGeOESBE5eKUT7llk0PI1k2Vx8Fh9YT07GBJW1bHK1Hzg5hajyD9T8EaFMNtQfmPaigz31yC0Iv98sJs00ofCBOekd');

    // Create an instance of Elements.
    var elements = stripe.elements();

    // Custom styling can be passed to options when creating an Element.
    // (Note that this demo uses a wider set of styles than the guide below.)
    var style = {
    base: {
        color: '#32325d',
        fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
        fontSmoothing: 'antialiased',
        fontSize: '16px',
        '::placeholder': {
        color: '#aab7c4'
        }
    },
    invalid: {
        color: '#fa755a',
        iconColor: '#fa755a'
    }
    };

    // Create an instance of the card Element.
    var card = elements.create('card', {style: style});

    // Add an instance of the card Element into the `card-element` <div>.
    card.mount('#card-element');
    // Handle real-time validation errors from the card Element.
    card.on('change', function(event) {
    var displayError = document.getElementById('card-errors');
    if (event.error) {
        displayError.textContent = event.error.message;
    } else {
        displayError.textContent = '';
    }
    });

    // Handle form submission.
    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function(event) {
    event.preventDefault();

    stripe.createToken(card).then(function(result) {
        if (result.error) {
            console.log(result.error)
            var errorElement = document.getElementById('card-errors');
            errorElement.textContent = result.error.message;
        }
        else {
            stripeTokenHandler(result.token);
        }
    });
    });

    // Submit the form with the token ID.
    function stripeTokenHandler(token) {
    // Insert the token ID into the form so it gets submitted to the server
    var form = document.getElementById('payment-form');
    var hiddenInput = document.createElement('input');
    hiddenInput.setAttribute('type', 'hidden');
    hiddenInput.setAttribute('name', 'stripeToken');
    hiddenInput.setAttribute('value', token.id);
    form.appendChild(hiddenInput);

    // Submit the form
    form.submit();
    }
</script>

