.btn{
    border-radius: 0;
}

.box-element{
    box-shadow: hsl(0, 0%, 80%) 0 0 16px;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
}

.cart-row{
    display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
}

.form-field{
    width: 300px;
    display: inline-block;
    padding: 5px;
    color: black;
}

.form-control{
    color: black;
}

.hidden{
    display: none !important;
}

.checkout-info{
    padding-right: 50px;
    padding-left: 50px;
}

.row-image{ 
    width: 100px;
}

#form-button{
    color: white;
    background-color: #0e8ce4;
    border: none;
    border-radius: 18px;
    cursor: pointer;
}