/*----------------------------*\
	Product tab
\*----------------------------*/

.product-tab {
  margin-top: 30px;
}

.product-tab .tab-nav {
  border-bottom: 1px solid #DADADA;
  margin-bottom: 30px;
}

.product-tab .tab-nav li {
  display: inline-block;
}

.product-tab .tab-nav li+li {
  margin-left: 30px;
}

.product-tab .tab-nav li a {
  display: block;
  padding: 15px 0px;
  text-transform: uppercase;
  font-weight: 700;
}

.product-tab .tab-nav li.active {
  position: relative;
}

.product-tab .tab-nav li.active a {
  color: #F8694A;
}

.product-tab .tab-nav li.active a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1.5px;
  height: 3px;
  width: 30px;
  background-color: #F8694A;
}

/*-- reviews --*/

.single-review {
  margin-bottom: 30px;
}

.single-review .review-heading>div {
  display: inline-block;
}

.single-review .review-heading>div+div {
  margin-left: 10px;
}

.single-review .review-rating {
  display: inline-block;
}

.single-review .review-rating>i {
  color: #FFB656;
}

.single-review .review-rating>i.empty {
  color: #DADADA;
}

.single-review .review-body {
  margin-top: 10px;
}

.reviews-pages {
  text-align: center;
  margin-top: 1em;
}

.pagination-action {
  margin: 0 0.1em;
  display: inline-block;
  padding: 0.5em;
  color: #B9B9B9;
  font-size: 1.3em;
} 

.pagination-action:hover {
  color: #3354AA;
} 

.pagination-number {
  background-color: #6D85C7;
  padding: 0.5em 0.8em;
  color: #fff;
  border-radius: 2px;
}

.pagination-number:hover, .pagination-current {
  background-color: #3354AA;
}

/*-- review form --*/

.review-form textarea.input {
  height: 90px;
}

.review-form .input-rating .stars {
  display: inline-block;
  vertical-align: top;
}

.review-form .input-rating .stars input[type="radio"] {
  display: none;
}

.review-form .input-rating .stars>label {
  float: right;
  cursor: pointer;
  padding: 0px 3px;
  margin: 0px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.review-form .input-rating .stars>label:hover, .review-form .input-rating .stars>label:hover~label {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

.review-form .input-rating .stars>label:before {
  content: "\f006";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  color: #DADADA;
  font-size: 14px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.review-form .input-rating .stars>label:hover:before, .review-form .input-rating .stars>label:hover~label:before {
  content: "\f005";
  color: #FFB656;
}

.review-form .input-rating .stars>input:checked label:before, .review-form .input-rating .stars>input:checked~label:before {
  content: "\f005";
  color: #FFB656;
}

/*----------------------------*\
	Product tab
\*----------------------------*/

.product-tab {
    width: 100%;
    margin-top: -30px;
    padding: 10px 200px 20px;
}
  
.product-tab .tab-nav {
    border-bottom: 1px solid #DADADA;
    margin-bottom: 30px;
}
  
.product-tab .tab-nav li {
    display: inline-block;
}
  
.product-tab .tab-nav li+li {
    margin-left: 30px;
}
  
.product-tab .tab-nav li a {
    color: black;
    display: block;
    padding: 15px 0px;
    text-transform: uppercase;
    font-weight: 700;
  }
  
.product-tab .tab-nav li a:hover {
    color: #0e8ce4;
    transition: 0.5s all;
}
  
  /*.product-tab .tab-nav li.active a {
    color: #F8694A;
  }
  
  .product-tab .tab-nav li.active a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1.5px;
    height: 3px;
    width: 30px;
    background-color: #F8694A;
  } */
  
  /*-- reviews --*/
  
.single-review {
    margin-bottom: 30px;
}
  
.single-review .review-heading>div {
    display: inline-block;
}
  
.single-review .review-heading>div+div {
    margin-left: 10px;
}
  
.single-review .review-rating {
    display: inline-block;
}

.single-review a{
    color: black;
}

.single-review a:hover{
    color: #0e8ce4;
    transition: 0.5s all;
}

.single-review .review-rating>i {
    color: #FFB656;
}
  
.single-review .review-rating>i.empty {
    color: #DADADA;
}
  
.single-review .review-body {
    margin-top: 10px;
}
  
.reviews-pages li {
    display: inline-block;
    margin-right: 6px;
}
  
.reviews-pages li a {
    display: block;
    min-width: 10px;
    text-align: center;
}
  
.reviews-pages li.active {
    color: #F8694A;
}
  
/*-- review form --*/

.review-form .input{
    width: 100%;
    height: 40px;
    padding: 0px 15px;
    border: none;
    background-color: transparent;
    box-shadow: 0px 0px 0px 1px #DADADA inset, 0px 0px 0px 5px transparent;
    transition: 0.3s all;
}
  
.review-form textarea.input {
    height: 90px;
}
  
.review-form .input-rating .stars {
    display: inline-block;
    vertical-align: top;
}
  
.review-form .input-rating .stars input[type="radio"] {
    display: none;
}
  
.review-form .input-rating .stars>label {
    float: right;
    cursor: pointer;
    padding: 0px 3px;
    margin: 0px;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}
  
.review-form .input-rating .stars>label:hover, .review-form .input-rating .stars>label:hover~label {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}
  
.review-form .input-rating .stars>label:before {
    content: "\f006";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    color: #DADADA;
    font-size: 14px;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}
  
.review-form .input-rating .stars>label:hover:before, .review-form .input-rating .stars>label:hover~label:before {
    content: "\f005";
    color: #FFB656;
}
  
.review-form .input-rating .stars>input:checked label:before, .review-form .input-rating .stars>input:checked~label:before {
    content: "\f005";
    color: #FFB656;
}

